@import './reset.css';

body{
    font-family: 'Jost', sans-serif;
    color: #1D1D1D;
    background-color: #F8F8F7;
    font-weight: 400;
    font-size: 20px;  

}

.modal{
    background: rgba(29, 29, 29, 0.60);

}


.none {
    display: none !important;
}

:hover{
    transition: background-color 0.3s ease;
}
:active{
    transition: background-color 0.3s ease;
}

.btn{
    width: 138px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #FF868E;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    border-radius: 10px;
    background: #FFF;
    cursor: pointer;
    letter-spacing: 2px;
}
.btn:hover{
    color: #FF868E;
    background-color: #FBE0DC;
}
.btn:active{
    color: #FFF;
    background-color: #FF868E;
}

.sub-header__btn {
    border-radius: 10px;
    background: #F8F8F7;
    
}

.svg{
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.container {
    max-width: 1303px;
    margin: 0 auto;
    padding: 0 20px;
}
.main{
    padding-top: 30px;
}
.main__row{
    display: flex; 
    gap: 137px;

}
.main-left {
    flex: 0 0 auto;
    min-width: 446px;;
}
.logo {
}
.greeting {
    padding-top: 75px;
}
.greeting__title {
    font-size: 44px;
    font-weight: 500;
    line-height: 131.818%
}
.greeting__text {
    font-size: 20px;
    color:#8C8C8C;
    margin-top: 10px;
}
.block__start {
    padding-top: 59px;
}
.start {
}
.start__text {
    font-size: 20px;
    font-weight: 500;
}
.start__items {
    display: flex;
    gap: 16px;
    margin-top: 20px;
}


.start__item {
  
}
.item-start_1 .item__img{
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.60);
    background: #B4B7FF;
}
.item-start_2 .item__img{
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.60);
    background: #97EAB9;
}
.item-start_3 .item__img{
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.60);
    background: #FFD280;
}

.item-start_1:hover .item__img{
    border: 4px solid #FFF;
}
.item-start_2:hover .item__img{
    border: 4px solid #FFF;
}
.item-start_3:hover .item__img{
    border: 4px solid #FFF;
}

.item__img {
    width: 138px;
    height: 198px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start__btn {
    margin-top: 10px;
}

.home__right{
    
    /* position: relative; */
}
.main-right{
    /* flex: 0 0 680px; */
}

.home__img {
    position: relative;
    width: 680px;
    height: 840px;
    background-color: #FBE0DC;
    border-radius: 20px;
}

.home__img img{
    position: absolute;
    top: -31px;
    right: -30px;
    max-width: 775px;
    height: 900px;
    z-index: 1;
}



/* ----------------VOTING----- */


.header {
    display: flex;
    gap: 10px;

}
.header__burger{
    display: none;
}

.header_search {
    flex: 0 0 69%;
}
.search-form {
    max-width: 470px;
    background-color: #FFF;
    border-radius: 20px;
    display: flex;
    /* gap: 170px; */
    padding: 10px 10px 10px 20px;
    justify-content: space-between;
}


.search-form:hover{
    padding: 8px 8px 8px 18px;
    border: 2px solid #FBE0DC;
}
.search-form:active{
    padding: 8px 8px 8px 18px;
    border: 2px solid #FF868E;
}
.search-input {
    font-size: 20px;    
    font-weight: 400;
    line-height: 150%;
    min-width: 230px;
}
.search-input::placeholder{
    color: #8C8C8C;
   
    font-weight: 400;
    line-height: 150%
}
.search-input::placeholder:active{
    color: #1D1D1D;
}
.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #FBE0DC;
    background-image: url(/img/svg/search.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
}
.search-btn:hover {
    background-color: #FF868E;
    background-image: url(/img/svg/search_Hover.svg);
}
.header_links {
    display: flex;
    gap: 10px;
}

.link{
    border-radius: 20px;
    background-color: #FFF;
    width: 60px;
    height: 60px;
    display: flex;
}
.link:hover{
    background-color: #FBE0DC;

}
.link:active{
    background-color:#FF868E;
}

.link-likes {
    background-image: url(/img/svg/actions/like.svg);
}
.link-favourites {
    background-image: url(/img/svg/actions/favourites.svg);
}
.link-dislikes {
    background-image: url(/img/svg/actions/dislike.svg);
}

.link-likes:active{
    background-image: url(/img/svg/actions/active/like__active.svg);
}
.link-favourites:active{
    background-image: url(/img/svg/actions/active/favo_active.svg);
}
.link-dislikes:active{
    background-image: url(/img/svg/actions/active/dislike_active.svg);
}


.right__content {
    border-radius: 20px;
    background-color: #FFF;
    margin-top: 10px;
    padding: 20px;
    min-height: 770px;
}

.voting {
   
}

.content__header{
    display: flex;
    gap: 9px;
    margin-bottom: 20px;
}

.sub-header {
    display: flex;
    gap: 9px;
}

.sub-header__badge {
    display: block;
    padding: 5px 30px;
    border-radius: 10px;
    background: #FF868E;
    color:#FFF;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 2px;
}

.sub-header__btn-back {
    display: block;
    width: 40px;
    border-radius: 10px;
    background-color:#FBE0DC;
    background-image: url(/img/svg/arrow\ left\ 1.svg);
}

.sub-header__btn-back:hover{
    background-color:#FF868E;
    background-image: url(/img/svg/arrow\ left_Hover.svg);
}

.voting__foto {
    margin-top: 20px;
    /* width: 640px;
    height: 360px; */
    border-radius: 20px;
    overflow: hidden;
}
.voting__foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.voting__action {
    position: relative;
    max-width: 256px;
    border-radius: 20px;
    background:#ffffff;
    border: 4px solid white;
    margin: 0 auto;
    display: flex;
    gap: 4px;
    margin-top: -46px;
}
.btn-likes {
    background-color: #97EAB9;
    background-image: url(/img/svg/actions/active/like__active.svg);
    width: 80px;
    height: 80px;
    border-radius: 20px 0 0 20px; 
}
.btn-favourites {
    background-color: #FF868E;
    background-image: url(/img/svg/actions/active/favo_active.svg);
    width: 80px;
    height: 80px;
}

.btn-dislikes {
    background-color: #FFD280;
    background-image: url(/img/svg/actions/active/dislike_active.svg);
    width: 80px;
    height: 80px;
    border-radius: 0px 20px 20px 0px; 
}

.btn-likes:hover{
    background-color: #97EAB94D;
    background-image: url(/img/svg/voting_action/like_hover.svg);
}
.btn-favourites:hover{
    background-color: #FF868E4D;
    background-image: url(/img/svg/voting_action/favour_hover.svg);
}

.btn-dislikes:hover{
    background-color: #FFD2804D;
    background-image: url(/img/svg/voting_action/dislike_hover.svg);
}

.btn-likes:active{
    background-color: #97EAB9;
    background-image: url(/img/svg/voting_action/like_active.svg);

}
.btn-favourites:active{
    background-color: #FF868E;
    background-image: url(/img/svg/voting_action/favour_active.svg);

}

.btn-dislikes:active{
    background-color: #FFD280;
    background-image: url(/img/svg/voting_action/dislike_activ.svg);
}


.voting__logs {
    /* display: flex;
    flex-direction: column; */
    padding-top: 10px;
    

    /* gap: 10px; */
    
}

.logs__item {
    border-radius: 10px;
    display: flex;
    padding: 15px 20px 15px 15px;
    background: #F8F8F7;
    margin-bottom: 10px;
}
.logs__item:last-child{
    margin-bottom: 0px;
}

.logs__time {
    border-radius: 5px;
    background: #FFF;
    color: #1D1D1D;
    font-size: 16px;
    padding: 3px 10px;
    line-height: 150%;
    max-height: 30px;
    margin-right: 20px;
}
.logs__message {
    color: #8C8C8C;
    font-size: 16px;
    line-height: 190%;
}

.logs__icon{
    margin-left: auto;
}

.logs__icon img{
    /* background-image: url(../img/svg/like-color-30.svg);
    background-repeat: no-repeat;
    background-position: 23% 50%; */
    width: 30px;
    height: 30px;
}

.user-id{
    color: #1D1D1D;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%
}


/* ------------------------ */

.sub-header {
    
}

.filter__btn-back {
}

.filter__btn--home {
}
.filter__select {
    position: relative;
    color: #8C8C8C;
    font-size: 16px;
    line-height: 150%;
}
.filter__select-option{
    color: inherit;
    display: block;
    border-radius: 10px;
    background: #F8F8F7;
    height: 40px;
    padding: 8px 10px;
}

.filter__select-option:hover{
    border-radius: 10px;
    border: 2px solid #FBE0DC;
    background: #FFF;
    padding-top: 6px;
    padding-left: 8px;
}

.filter__list-wrapper{
    padding-top: 20px;
    width: 100%;
    position: absolute;
}

.filter__list-dropdown{
    border-radius: 30px;
    background: #ffffff;
    width: 300px;
    padding-bottom: 10px;
    overflow: scroll;
    position: absolute;
    left: 0;
    top: 10px;
    /* display: none; */
    opacity: 0; 
    transform: translateY(-10px); 
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: none;
}

.filter__select:hover .filter__list-dropdown{
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: initial;
    z-index: 2;
}

.filter__list-dropdown-limit{
    width: 150px;
    height: 145px;
}

.filter__list-dropdown li{
    padding-top: 10px;
    padding-left: 10px;
}
/* .nav__item {
    padding-top: 10px;
    padding-left: 10px;
} */
.filter__select-breeds{
    width: 226px;
}

.filter__select-breeds::before,
.filter__select--limit-img::before {
    content: "";
    background-image: url(/img/svg/arrow\ left\ 2.svg);
    background-repeat: no-repeat;
    top: 14px;
    right: 10px;
    position: absolute;
    width: 12px;
    height: 12px;
}

.filter__select--limit-img::before{
    top: 14px;
    right: 9px;
}

.filter__link {
    color: inherit;
}
.filter__select--limit-img {
    width: 101px;
}

.filter__btn-sort {
    border-radius: 10px;
    background: #F8F8F7;
    width: 40px;
    height: 40px;
   
}
.filter__btn--sort-asc {
    background-image: url(/img/svg/breeds/sort_z_a.svg);
    background-repeat: no-repeat;
    background-position: 64% 50%;
}
.filter__button--sort-desc {
    background-image: url(/img/svg/breeds/sort_a-z.svg);
    background-repeat: no-repeat;
    background-position: 69% 55%;
}

.filter__btn--sort-asc:hover{
    background-image: url(/img/svg/breeds/sort_a_z_hover.svg);
    background-size: 19px 22px; 
    border-radius: 10px;
    border: 2px solid #FBE0DC;
}

.filter__button--sort-desc:hover{
    background-image: url(/img/svg/breeds/sort_z_a_hover.svg);
    border-radius: 10px;
    border: 2px solid #FBE0DC;
}
.gallery{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 770px;
    overflow-y: scroll;
    width: 100%;
}

.breeds__gallery{
    padding-top: -10px;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery__items {
    display: grid;
    gap: 20px;
    grid-auto-flow: dense;
    grid-auto-rows: 140px;
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    /* grid-auto-rows: 140px; */
}

.gallery__item{
    position: relative;
    overflow: hidden;

}

.gallery__item:nth-child(10n+1){
    grid-row: span 2;
}
.gallery__item:nth-child(10n+8){
    grid-column: span 1; 
    grid-row: span 2;
}

.gallery__item:nth-child(10n+4){
    grid-column: span 2;
    grid-row: span 2;
}

.gallery__item:nth-child(10n+9){
    grid-column: span 2;
    grid-row: span 2;
}


.gallery__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(255, 134, 142, 0.60);; /* Фон з напівпрозорою чорною підсвіткою */
    opacity: 0;
    transition: opacity 0.3s ease; /* Анімація зміни прозорості при наведенні */
}

.gallery__item:hover::before{
    opacity: 1;
}

.gallery__item img{
    border-radius: 20px;
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.item-btn{
    width: 180px;
    height: 34px;
    position: absolute;
    top: 96px;
    left: 11px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: normal;
    /* opacity: 0;
    transition: opacity 0.3s ease; 
*/
}

.gallery__item:nth-child(10n+1) .item-btn,
.gallery__item:nth-child(10n+8) .item-btn{
    top: 255px;
    left: 11px;
}

.gallery__item:nth-child(10n+4) .item-btn,
.gallery__item:nth-child(10n+9) .item-btn{
    top: 255px;
    left: 120px;
}
/* .item-btn-long{
    top: 255px;
    left: 11px;
} */

/* .item-btn-big{
    top: 255px;
    left: 120px;
} */

.item-btn-long a,
.item-btn a,
.item-btn-big a{
    color: inherit;
}

.item-btn {
    position: absolute;
    opacity: 0; /* Початкова прозорість кнопки */
    transition: opacity 0.3s ease; /* Анімація зміни прозорості кнопки */
}
  
.gallery__item:hover .item-btn {
    opacity: 1;
    background-color: white;
}


/* ----------------------GALLERY--------------- */

.nav__btn--upload {
    padding: 12px 28px 12px 56px;
    border-radius: 10px;
    background: #FBE0DC;
    color: #FF868E;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 133%;
    letter-spacing: 2px;
    margin-left: auto;
    background-image: url(/img/svg/gallery/upload.svg);
    background-repeat: no-repeat;
    background-position: 23% 50%;
}   

.nav__btn--upload:hover{
    background: #FF868E;
    background-image: url(/img/svg/gallery/upload_hover.svg);
    background-repeat: no-repeat;
    background-position: 23% 50%;
    color: #FFF;
}



.filter-panel {
    border-radius: 20px;
    background: #F8F8F7;
    padding: 0 20px 0 20px;
}
.filter-panel_top {
    display: flex;
    padding-top: 10px;
    gap: 20px;
}
.filter-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    max-width: 290px;
    position: relative;
}

.filter-section:nth-child(-n+2)::before,
.filter-section:nth-child(n+3):not(:last-child)::before{
    content: "";
    background-image: url(/img/svg/arrow\ left\ 2.svg);
    background-repeat: no-repeat;
    top: 32px;
    right: 10px;
    position: absolute;
    width: 12px;
    height: 12px;
}

.filter-label {
    color: #8C8C8C;
    font-size: 10px;
    font-weight: 500;
    line-height: 180%;
    padding-left: 10px;
}

.filter_section-option{
    color: #1D1D1D;
    font-size: 16px;
    line-height: 150%;
    border-radius: 10px;
    background: #FFF;
    height: 40px;
    padding: 8px 0 8px 10px;
}

.breed-select::placeholder{
    color: #1D1D1D;
    font-size: 16px;
    line-height: 150%;
}
.filter_section-option:hover{
    border-radius: 10px;
    border: 2px solid #FBE0DC;
    background: #FFF;
    padding: 6px 0 6px 8px;
}

.order-select {

}
.type-select {
}
.filter-panel_bottom {
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
    gap: 20px;
}
.breed-select {
}

.filter_list-dropdown{
    color: #8C8C8C;
    font-size: 16px;
    line-height: 150%;
    left: 1px;
    top: 64px;
}

.filter-btn {
    background: #FFF;   
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-image: url(/img/svg/gallery/upload_btnsvg.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    flex: 1 0 40px;
    align-self: flex-end;
    margin-left: -10px;
}
.filter-btn:hover{
    background: #FF868E; 
    background-image: url(/img/svg/gallery/upload_btn-hover.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;

}

.filter-section-breed{
    position: relative;
    flex: 1 0 50%;
}

.filter-section-breed:hover .filter__list-dropdown{
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: initial;
    z-index: 2;
}

.filter-section:hover .filter__list-dropdown{
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: initial;
    z-index: 2;
}

.gallery_btn-like{
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: white;
    background-size: 20px 20px;
    background-image: url(/img/svg/actions/favourites.svg);
    border-radius: 10px;
    top: 50px;
    left: 79px;
    opacity: 0;
}

.gallery__item:nth-child(10n+1) .gallery_btn-like,
.gallery__item:nth-child(10n+8) .gallery_btn-like{
    top: 136px;
    left: 79px;
}

.gallery__item:nth-child(10n+4) .gallery_btn-like,
.gallery__item:nth-child(10n+9) .gallery_btn-like{
    top: 140px;
    left: 200px;
}


.gallery__item:hover .gallery_btn-like{
    opacity: 1;
}

/* ----------------------Info Breeds ---------------*/


.header__badge-id{
    height: 40px;
    border-radius: 10px;
    background:#FF868E;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 2px;
    padding: 5px 31px;
}

.breeds{
    max-height: 770px;
    width: 100%;
}

.breed-foto {
    position: relative;
    
}

.breeds-foto__slide {
    max-height: 360px;
    border-radius: 20px;
    overflow: hidden;

}

.breeds-foto__slide img{
    width: 100%;
    height: auto;
    display: block;
}
.slide-indicator {
    min-width: 90px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    margin: 0 auto;
    position: absolute;
    top: 345px;
    left: 275px;
    z-index: 2;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding: 0 10px;
}
.dot {
    display: block;
    margin: 10px auto;
    width: 10px;
    height: 10px;
    background: #FBE0DC;
    border-radius: 100px;
}

.dot-active {
    background: #FF868E;
}
.breed-info {
    margin-top: 31px;
    min-height: 204px;
    border-radius: 20px;
    border: 2px solid #FBE0DC;
    position: relative;
}
.breed-info__name {
    color: #1D1D1D;
    font-size: 36px;
    font-weight: 500;
    background-color: white;
    border-radius: 20px;
    padding: 5px 40px;
    justify-content: center;
    position: absolute;
    left: 223px;
    top: -31px;

}
.breed-info__description {
    color: #8C8C8C;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 26px;
}
.breed-traits {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 38px;
}
.breed-traits__item {
    max-width: 270px;
}
.breed-traits__title {
    color: #1D1D1D;
    font-size: 16px;
    font-weight: 500;
}
.breed-traits__list {
    color: #8C8C8C;
    font-size: 16px;
}
.info-item {
    display: flex;
    gap: 5px;
    margin-bottom: 9px;
}

/* --------------UPLOAD------------- */

.modal{
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.60);
}

.modal__container{
    position: relative;
    max-width: 1303px;
    margin: 0 auto;
}

.modal__content{
    /* width: 680px;
    height: 840px; */
    min-height: 840px;
    border-radius: 20px;
    background: #F8F8F7;
    position: absolute;
    right: 20px;
    top: 30px;
    text-align: center;
    padding: 20px
}

.modal__close {
    border-radius: 10px;
    background: #FFFFFF;
    width: 40px;
    height: 40px;
    background-image: url(/img/svg/close-20.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: auto;
    display: block;
}

.modal__close:hover{
    background: #FF868E;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-image: url(/img/svg/close-white-20.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: right;
}

.modal__title {
    color: #1D1D1D;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px; 
    margin-top: 40px;
}
.modal__text {
    color: #8C8C8C;
    font-size: 20px;
    line-height: 150%
}
.red-text {
    color: #FF868E;
    font-size: 20px;
    line-height: 150%
}
.modal__upload-window {
    border-radius: 20px;
    border: 2px dashed #FBE0DC;
    background: #FFF;
    width: 100%;
    height: 320px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.upload__window {
    background-image: url(/img/svg/upload-bg.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.upload__window-instruction {
    padding: 145px 135px;
}
.bold-text{
    color: #1D1D1D;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%
}

.upload__btn {
    height: 40px;
    padding: 12px 29px;
    border-radius: 10px;
    background: #FF868E;
    color: #FFF;
    font-weight: 500;
    line-height: 133%;
    letter-spacing: 2px;
    font-size: 12px;
    width: 172px;
}

.upload__status{
    margin-top: 20px;
    border-radius: 10px;
    background: #FFF;
    width: 640px;
    height: 60px;
    padding-left: 50px;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #8C8C8C;
    font-size: 16px;
    line-height: 150%;
    text-align: start;
    position: relative;
}

.upload__status::before{
    content: "";
    background-image: url(/img/svg/success-upload.svg);
    background-repeat: no-repeat;
    top: 20px;
    left: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
}

.upload__status-error{
    margin-top: 20px;
}

.upload__status-error::before{
    content: "";
    background-image: url(/img/svg/error-20_upload.svg);
    background-repeat: no-repeat;
    top: 20px;
    left: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
}


/* ---------------------SEARCH--------------------- */

.content__description {
    color: #8C8C8C;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.name__breed{
    color: #1D1D1D;
    font-size: 20px;
    font-weight: 500;
}

.info__voting-favourites{
    margin-top: 40px;
}
.info__no-found{
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    background: #F8F8F7;
    color: #8C8C8C;
    font-size: 16px;
    line-height: 150%
}
/* --------------Modal_Home------------ */


.modal-home{
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(29, 29, 29, 0.60); */
    background-color: #F8F8F7;
}

.modal-home__container{
    max-width: 486px;
    margin: 0 auto;
    padding: 30px 20px 0 20px;
}

.modal-home__content{
    /* min-width: 446px; */
    /* margin: 0 auto; */
}

.modal-home__close{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin-bottom: 24px;
}

.modal-home__close:hover{
    background: #FF868E;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-image: url(/img/svg/close-white-20.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: right;
}



/* ----------------------Media--------------------- */
@media (max-width: 1439px) {
	.container{
		max-width: 768px;
	}

    .home .main-right{
        display: none;
    }

    .right-blok .main-left{
        display: none;
    }

    .main-left {
        /* padding-left: 127px; */
        margin: 0 auto;
        
    }

    .main__row {
        flex-direction: column;
    }

    .main-right {
        max-width: 768px;
        padding: 0 10px;
    }

    .header_search {
        flex: 0 0 60%;
    }

    .header__burger{
        display: block;
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 20px;
        background-color: #FFF;
    }
    .header__burger span{
        position: absolute;
        background-color: #FF868E;
        left: 15px;
        height: 2px;
        width: 30px;
        top: 29px;
    }

    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #FF868E;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 15px;
    }
    .header__burger::before{
        top: 21px;
    }

    .header__burger::after{
        bottom: 21px;
    }

    .modal__container {
        max-width: 708px;
    }

    .modal__content {
        right: 0px;
        width: 100%;
    }

    .upload__status{
        width: 100%;
    }


}

@media (max-width: 767px) {
    .main-right{
        max-width: 335px;
        padding: 0;
        margin: 0 auto;
    }

    .item__img {
        display: none;
    }

    .start__items {
        flex-direction: column;
    }

    .start__btn .btn{
        width: 100%;
    }

    .main-left {
        padding: 0 20px;
        min-width: 375px;
    }

    .modal-home__container{
        padding: 0 20px;
        max-width: 375px;
    }

    .header{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .header_search{
        order: 3;
        flex-basis: 100%;
    }

    .search-form {
        max-width: 100%;
    }

    .voting__action {
        max-width: 194px;
    }
    .btn-likes,
    .btn-favourites,
    .btn-dislikes
    {
        height: 60px;
    }

    .logs__item{
        flex-wrap: wrap;
    }
    .logs__message{
        order: 3;
        margin-top: 10px;
        line-height: 150%;
    }

    .right__content{
        max-height: 633px;
    }

    .voting__logs{
        overflow-y: scroll;
        max-height: 246px;
    }
    .content_header{
        flex-wrap: wrap;
    }

    .filter__select-breeds {
        width: 100%;
    }

    .filter__list-wrapper{
        padding: 0;
    }    
    .breeds__gallery {
        margin-top: 10px;
        max-height: 422px;
    }
    .gallery__items {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .gallery__item {
        height: 206px;
    }
    .content__header {
        flex-wrap: wrap;
    }

    .item-btn {
        top: 149px;
        left: 57px;
    }

    .voting__logs::-webkit-scrollbar {
    display: none;
    }

    .slide-indicator{
        top: 95.83%;
        left: 35.97%;
    }

    .breeds-foto__slide{
        max-height: 166px;
    }
    .breed-info__name{
        font-size: 20px;
        padding: 5px 20px;
        left: 96px;
        top: -22px;
    }
    .breed-info__description{
        margin-top: 17px;
    }
    .info-item {
        display: block;
    }

    .breed-traits {
        gap: 10px;
    }

    .nav__btn--upload {
        background-position: 38% 50%;
        width: 100%;
    }

    .filter-panel_top {
        flex-direction: column;
        gap: 10px;
    }

    .filter-panel_bottom {
        flex-direction: column;
        gap: 10px;
    }
    .filter-btn{
        width: 100%;
        margin-bottom: 10px;
    }

    .gallery {
        gap: 10px;
    }
   
    .modal{
        background-color:  #F8F8F7;;
    }

    .modal__container{
        max-width: 375px;
    }
    .modal__close {
        width: 60px;
        height: 60px;
        border-radius: 20px;
        background-size: 35px 35px;
        margin-top: 20px;
    }
    .modal__title{
        font-size: 20px;
    }

    .modal__title {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .upload__window{
        background-size: 100px 100px;
    }
    .modal__upload-window {
        max-height: 168px;
    }
    .upload__window-instruction{
        padding: 54px 68px;
    }
    .modal__upload-window {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .upload__btn {
        width: 100%;
    }
    .modal__text{
        margin-bottom: 20px;
    }
   
}